<%- include partials/header.ejs %>

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
    style="background-image:url(images/img_bg_1.jpg);">
    <div class="overlay"></div>
    <div class="fh5co-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Events</h1>
                        <h2>Look at our crazy collection of events</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-event" class="fh5co-bg" style="background-image:url(images/img_bg_3.jpg); height: 200rem;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Our Special Events</span>
                <h2>Technical Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <% 
                        if (stories)
                        for (i=0;i<stories.length;i++) { 
                            stories[i] = stories[i].toJSON()
                            %>
                        <a href="/events/<%= stories[i]._id%>">
                            <div class="col-md-4 col-sm-4 text-center">
                                <div class="event-wrap animate-box">
                                    <h3><%= stories[i].name %></h3>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span><%= stories[i].time %></span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <span><%= stories[i].date %></span>
                                    </div>
                                    <p><%= stories[i].desc %></p>
                                    <!-- <p><%= "- "+stories[i].council %></p> -->
                                    <p><%= "Cost "+stories[i].cost + "  Prize "+stories[i].prize%></p>
                                    <p><%= "Points "+stories[i].points %></p>
                                </div>
                            </div>
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include partials/footer.ejs %>